.HeaderContainer {
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: var(--navbar-height);
  position: fixed;
  width: 100vw;
  background: var(--background);
}

.HeaderContainer * {
  margin: 0 1rem;
}

.LinksContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NavItems {
  display: flex;
  
  /* flex-direction: column; */
  /* justify-content: flex-start; */
}

.NavItems a:hover {
  color: var(--blue-dark);
}


/* Appointment button */
.LinksContainer > a {
  color: var(--blue-dark);
  border: 1px;
  border-style: solid;
  border-radius: 30px;
  padding: 8px 30px;
}


/* TODO: show other links */
@media all and (max-width: 768px) {
  .HeaderContainer {
    justify-content: space-between;
  }

  .NavItems {
    display: none;
  }
}