.SectionHeroContainer {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--light-gray);
  height: calc(100vh - var(--navbar-height));
  padding-top: var(--navbar-height);
}

.HeroContent {
  flex: 1 0 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.HeroContent * {
  padding: 1rem 0;
}

.HeroContent h1 span {
  color: var(--blue-dark)
}

.HeroContent button {
  background: var(--background-gradient);
  color: white;
  border-radius: 30px;
  width: fit-content;
  padding: 1rem 2rem;
  border-style: none;
}

.HeroImage {
  flex: 1 0 300px;
  background-color: red;
}

@media all and (max-width: 768px) {
  .HeroContent {
  }
}